[package]
name = "lenz-core"
version = "0.1.0"
edition = "2021"
[dependencies]
thiserror = "1.0"
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
sha3 = "0.10"
bs58 = "0.5"
bytemuck = "1.14"